{{define "content"}}
    <h1>Posts</h1>
    <ul>
    {{range .PostsWithUsers}}
        <li>
            <h2>{{.Title}}</h2>
            <p class="text-blue-500"><strong>By:</strong> {{.Username}}</p>
            <p class="text-green-300 font-bold"><strong>Type:</strong> {{.Type}}</p>
            <p><strong>Brand:</strong> {{.Brand}}</p>
            <p><strong>Model:</strong> {{.Model}}</p>
            <p><strong>Content:</strong> {{.Content}}</p>
            <p><strong>Created At:</strong> {{.CreatedAt}}</p>
            <p><strong>Updated At:</strong> {{.UpdatedAt}}</p>
        </li>
    {{end}}
    </ul>
{{end}}
